name: CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]

concurrency:
  group: "${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    name: "test: node@${{ matrix.node }} (${{ matrix.os }})"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node: [22, 24]
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Use node@${{ matrix.node }}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: ${{ matrix.node }}
          cache: npm
          cache-dependency-path: "patches/*.patch"
      - name: Install dependencies
        run: npm ci --ignore-scripts && npm run patch-package
      - name: Lint
        run: npm run lint
      - name: Prettier
        run: npm run prettier
      - name: Typecheck
        run: npm run typecheck
      - name: Test
        run: npm run test

  publish:
    uses: ./.github/workflows/publish.yaml
    if: ${{ github.repository_owner == 'pactflow' && github.event_name == 'push' }}
    needs: test
    secrets: inherit
